body {
  background-color: rgb(195, 211, 235);
  margin-left: 150px;
  margin-right: 150px;
  font-family: arial, sans-serif;
  /* display: inline-block; */
  justify-self: center;
}

.contact {
  background-color: rgb(139, 176, 232);
  text-align: center;
}

.tab {
  overflow: hidden;
  border: 3px solid rgb(224, 224, 224);
  align-items: center;
  justify-content: center;
  display: flex;
}

.tab button {
  float: left;
  background-color: rgb(139, 176, 232);
  border: 1px solid rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  padding: 14px 16px;
  margin: 5px;
  transition: margin-left 1s, margin-right 1s, background-color 1s;
}

.tab button:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(76, 130, 212);
}

.tab button.active {
  background-color: rgb(76, 130, 212);
}

.content {
  display: none;
}

h1 {
  font-family: verdana, sans-serif;
  font-size: 24px;
}

.date {
  font-style: italic;
}
